@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins:wght@300;400&display=swap');

/* Global Properties */
* {
    margin: 6px;
    padding: 6px;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #FAFAFA
  }


 /*Mobile Screen*/
 /*header*/
 #header {
    display: block;
    justify-content: space-between;
    font-family: "PT Serif", cursive
  }

  #sub-header div {
      width: 420px;
      word-spacing: 4px;
      font-family: Poppins, cursive;
      font-weight: 100;
  }


  /*main */
  #wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 20px;
  }

  #wrapper h2 {
    font-family: Poppins, cursive;
  }

  #wrapper p {
    font-family: "PT Serif", cursive;
    font-size: small;
    transform: rotate(-270deg);
    transform-origin: 0;
    position: relative;
    top: -339px;
    left: 195px;
  }

  /*images*/
  .size {
    height: 250px;
    width: 180px;
    object-fit: cover;
    border: #333 1px solid;
  }

  .mobile {
    margin-top: 50px;
  }

  #adjust {
    object-position: -120px 0;
  }
  
  .flip{
    transform: rotateY(180deg);
  }
  
   .footer {
        text-align: center;
        opacity: 0.75;
        color: #776f6f;
    }





    /*Desktop Screen*/
    @media screen and (min-width: 760px) {
    /*header*/
    #header {
      display: flex;
      justify-content: space-between;
      font-family: "PT Serif", cursive
    }
  
    #sub-header {
        width: 450px;
        word-spacing: 4px;
        font-family: Poppins, cursive;
        font-weight: 100;
    }
    
    #sub-header h3{
      font-weight: 400;
    }
    /*main */
    #wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(400px, auto);
      grid-gap: 20px;
    }
  
    #wrapper h2 {
      font-family: Poppins, cursive;
    }
  
    #wrapper p {
      font-family: "PT Serif", cursive;
      font-size: small;
      transform: rotate(-270deg);
      transform-origin: 0;
      position: relative;
      top: -439px;
      left: 300px;
    }
  
    /*images*/
    .size {
      height: 350px;
      width: 280px;
      object-fit: cover;
      border: #333 1px solid;
    }
  
    .middle {
        margin-top: 130px;
    }
  
      #adjust {
          object-position: -150px 0;
      }
    
    .flip{
          transform: rotateY(180deg);
      }
    
      .footer {
          text-align: center;
          opacity: 0.75;
          color: #776f6f;
      }
    }